<header class="header">
  <h1>git user search <sub>(task#1)</sub></h1>
</header>
<main class="container">
  <app-search (fullUserData)="fullUserData($event)" *ngIf="!hasRepos"></app-search>
  <section class="repos-list" *ngIf="hasRepos">
      <nav><button (click)="hasRepos = false" class="backToSearchPage">back to search</button></nav>
    <app-repos-list [item]="userData" (backtoSearch)="backToSearchStateChange($event)"></app-repos-list>
  </section>
</main>
<footer class="footer">
  <p>&copy; 2019 Ovdal.dk</p>
</footer>